*
  box-sizing: border-box
body
  +regular
.section
  padding: 80px 0
.title
  +medium
  font-size: 36px
  text-align: center
  background-image: url('../img/interface/title-under-line.png')
  background-position-x: center
  background-position-y: 80px
  background-repeat: no-repeat
  padding-bottom: 20px